.booking-margin {
  margin-top: 70px;
}

.my-booking-card {
  background-color: rgb(196, 180, 180);
  border: 1px;
  border-style: solid;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10px;

}

.my-booking-container {
  width: 100%;
}

.my-confirmed-container {
}

.request-card {
  text-decoration: underline;
}
