// Import page-specific CSS files here.
@import "home";
@import "lawnmower-show";
@import "booking-index";

a {
  text-decoration: none;
  color: gray;
}
a:hover{
  text-decoration: none;
  color: gray;
}



