  <form action = "/hello/there">
      Select your new car's color.
      <br>
      <input type="radio" name="Confirm" value="green">
      <input type="radio" name="Cancel" value="red">
      <br>
      <br>
      <input type="submit"/>
    </form>
